body {
  box-sizing: border-box;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

#mainPopup {
  margin: 1.5em;
  width: 20em;
}

#mainTitle::before {
  content: '';
  display: inline-block;
  margin-right: 0.2em;
  background-image: url(./pan.svg);
  background-size: contain;
  width: 0.8em;
  height: 0.8em;
  background-repeat: no-repeat;
}